body{
	font-family: Calibri;
	font-size: 1.1em;
}

.container{
	margin-top:25%;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:5%;
	width:80%
}

.destinationDiv{
	padding: 5px; 
	margin-top:5%;
	margin-left:15%;
	margin-right:15%;
	width:70%;
	background-color:#FF9900;
	text-align:center;
	font-size:1.5em;
	border-radius:5px
}

.infoDiv{
	left: 10%;
	position: relative;
	
	width: 50%;
	height: 40px;
	
	background-color: rgba(43, 39, 39, 0.6);
	
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 10px;
	padding: 5px;
	
	border: 2px solid;
	border-color: white;
	border-radius: 5px;
	
	color: white;
	text-decoration: bold;
	text-align: center;
	line-height: 40px;
	
	display: none;
	overflow: auto;
}

.ratioDiv{
	left: 0%;
	top: 0%;
	position: absolute;
	
	width: 2em; 
	height: 2em; 
    -webkit-border-radius: 1em; 
	-moz-border-radius: 1em;
	
	background-color: rgba(255, 255, 0, 0.6);
	
	
	
	border: 2px solid;
	border-color: white;
	
	color: black;
	text-decoration: bold;
	text-align: center;
	
	display: none;
}

.directionDiv{
	left: 0%;
	top: 0%;
	position: absolute;
	
	width: 80%;
	
	background-color: rgba(43, 39, 39, 0.6);;
	
	margin-top: 1%;
	margin-left: 5%;
	margin-right: 10%;
	padding: 15px;
	
	border: 2px solid;
	border-color: white;
	/*border-radius: 5px;*/
	
	color: white;
	text-decoration: bold;
	text-align: center;
	
	display: none;
}